.body {
    background-color: #1F2937;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1F2937;
    color: #f9FAf8;
    display: flex;
}

.header-logo img {
    width: 100px;
    height: auto;
    margin-right: auto;
    padding: 10px 0px 10px 200px;

}

.header-links {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 0px 100px 0px 0px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}

/* welcome part */

.welcome-section {
    display: flex;
    color: #f9FAf8;
    background-color: #1F2937;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.welcome-content {
    flex-basis: 500px;
    flex-direction: column;
    margin-right: 50px;
}

.welcome-content h1 {
    color: #f9FAf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 2px;
}

.welcome-content p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0px;
}

.welcome-content button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.welcome-content button:hover {
    box-shadow: 0 8px 16px 0 #f9FAf8, 0 6px 20px 0 #E5E7EB;
}

.welcome-img img {
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

/* Random info part */


.information h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.articles img {
    width: 150px;
    height: 170px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}   

/* quote section */

